html {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-color: #4a9eff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 0;
}


.rate_card {
  background-color: white;
  border-radius: 0px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
  
  }

.section {
  border-top: 1px solid #e1f1ff;
 }

.section:last-child{
  border-bottom: none;
 }

img {
  width: 100%;
  }

h3 {
  font-size: 1.1rem;
  color: #6e6e6e;
  font-weight: 700;
  letter-spacing: 3px;
  }

p {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
  margin: 0 0;
  }



.desc  {
  color: #4a9eff;
  border-bottom: 1px solid#e1f1ff;
}



h4 {
  font-size: 1.7rem;
  color: #4a9eff;
  font-weight: 700;
  margin: 20px 0;
}

button {
  background-color: #fff;
  border: 1px solid #4a9eff;
  width: 120px;
  font-size: 0.8rem;
  font-weight: 400;
  height: 40px;
  padding-top: 20px 30px;
  border-radius: 5px;
  color:#4a9eff;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;

}

button:hover {
  background-color: #4a9eff;
  color: #fff;
  box-shadow: 0px 10px 15px -8px #4a9efff3;
  transform: translateY(-5px);
}



@media (min-width: 900px){
  .rate_card {
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 100px 50px -50px rgba(0, 0, 255, 0.4);
  }
  .section {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .section:last-child {
    border-right: none;
  }

  .section {
    border-top: none;
   }
}